<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InnovateXpert</title>
    <link rel="stylesheet" href="/styles/nav.css">
</head>
<body>
    <div class="navbar">
        <div class="first_section">
            <h1> Innovate<span style="color:burlywood">Xpert</span> Blog.</h1>

        </div>
        <div class="second_section">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/aimlpage">AI & ML</a></li>
                <li><a href="/gen">Generative AI</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>

        </div>
    </div>
    
</body>
</html>