<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/aistyle.css">



<div class="header_beneath">
    <h1>Artificial intelligence and machine learning</h1>
    <h2>Uncover opportunities, turn ideas into workflows, and realize your vision, at scale</h2>
</div>

<div class="container-1">
    <div class="left">
        <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://www.pega.com/sites/default/files/styles/2560/public/media/images/2023-08/ai-explainer-section-01.png?itok=jI72Gq_w" width="791" height="729">

    </div>
    <div class="right">
        <h2>Intro to AI and ML</h2>
        <p>In a world accelerating at the speed of AI, understanding how these incredible capabilities get smarter is critical to driving business outcomes. Artificial intelligence (AI) is the theory of computer systems that can perform complex tasks. Machine learning (ML) is the process by which computers, including AI, learn new things; people use ML to feed data to the AI and train it over time.</p>

</div>
</div>
<div class="container-2">
    <div class="left">
        <h3>How do AI and ML work together?</h3>
        <p>For a computer to think on its own and perform complex tasks to become AI – it must digest and internalize more and more information and logic over time. That process is machine learning. As the computer takes on more work, ML enables it to become ever more “intelligent.” This is how AI understands and reacts to nuances and distinct scenarios.</p>
    </div>
    <div class="right">
        <h3>Building ethical AI</h3>
        <p>Computer logic is only as sound as the data that feeds it. If an AI learns biased inputs, it will output biased decisions. This can even challenge organizations with the best of intentions. It’s not always apparent when a strategy contains an implicit bias, but it’s essential for AI practitioners to identify it and adjust accordingly.</p>

    </div>
</div>

<div class="container-3">
    <div class="left">
        <img src="https://www.pega.com/sites/default/files/styles/2560/public/media/images/2023-08/ai-benefits-section-v2.png?itok=2gw7LljD" srcset="https://www.pega.com/sites/default/files/styles/50/public/media/images/2023-08/ai-benefits-section-v2.png?itok=9C8e-E0y 50w, https://www.pega.com/sites/default/files/styles/100/public/media/images/2023-08/ai-benefits-section-v2.png?itok=wv1mxiPf 100w, https://www.pega.com/sites/default/files/styles/200/public/media/images/2023-08/ai-benefits-section-v2.png?itok=-waHubpP 200w, https://www.pega.com/sites/default/files/styles/320/public/media/images/2023-08/ai-benefits-section-v2.png?itok=34ACuUm0 320w, https://www.pega.com/sites/default/files/styles/480/public/media/images/2023-08/ai-benefits-section-v2.png?itok=eD_P_8_h 480w, https://www.pega.com/sites/default/files/styles/640/public/media/images/2023-08/ai-benefits-section-v2.png?itok=9Mbah3Kh 640w, https://www.pega.com/sites/default/files/styles/1024/public/media/images/2023-08/ai-benefits-section-v2.png?itok=1l5XscwZ 1024w, https://www.pega.com/sites/default/files/styles/1366/public/media/images/2023-08/ai-benefits-section-v2.png?itok=gLFl2uyy 1366w, https://www.pega.com/sites/default/files/styles/1536/public/media/images/2023-08/ai-benefits-section-v2.png?itok=ZDN7mqvR 1536w, https://www.pega.com/sites/default/files/styles/1920/public/media/images/2023-08/ai-benefits-section-v2.png?itok=VKZQESOP 1920w, https://www.pega.com/sites/default/files/styles/2560/public/media/images/2023-08/ai-benefits-section-v2.png?itok=2gw7LljD 2560w" height="3996" width="2792"  class="u-bolt-block u-bolt-margin-left-auto u-bolt-margin-right-auto e-bolt-image">
    </div>
    <div class="right">
       <h2>What can AI and ML do for enterprise processes?</h2> 
       <p>Numerous industries already use AI for more efficiency, accuracy, and better customer experiences. It’s also powerful for enterprise business process management, where it can analyze and consolidate workflows, automate back-end tasks, and flag redundant processes. The result? Streamlining at every step.</p>
       <h3>Benefits of AI-powered automation</h3>
       <ul>
        <li><strong>Reduce human error</strong>, especially in processes that involve analyzing numerical or textual data. AI won’t make oversights due to fatigue or error, like the way a human might.</li>
        <li><strong>Increase operational efficiency</strong>by automating more tasks and identifying and consolidating redundant processes.</li>
        <li><strong>Empower employees</strong> By automating rote tasks and allowing more time to focus on meaningful, higher-order responsibilities, AI tools can take strain off workers and allow them to maximize their talent.</li>
       </ul>

    </div>
</div>
<div class="third_row">
<h2>How is AI different from ML</h2>
<div class="container-4">
    <div class="left">
        <h3>What is Artificial Intelligence</h3>
        <p>Artificial intelligence is the theory and development of computer systems trained to “think” and perform tasks that would normally require human intelligence.</p>

    </div>
    <div class="right">
        <h3>What is Machine Learning</h3>
        <p>Artificial intelligence is the theory and development of computer systems trained to “think” and perform tasks that would normally require human intelligence.</p>

    </div>
</div>
</div>

<div class="container-5">
    <div class="section-1">
        <h2>How enterprise organizations use AI and ML</h2>
        <p>See how businesses leverage AI and ML to solve a variety of challenges, responsibly.</p>

    </div>
    <div class="section-2">
        <h3>Reduce customer churn</h3>
        <p>Machine learning informs AI to make individualized offers and meet specific customer needs.</p>

    </div>
    <div class="section-3">
        <h3>Accelerate business growth</h3>
        <p>As machine learning feeds more nuanced data to the AI, companies can identify new opportunities.</p>

    </div>
    <div class="section-4">
        <h3>As machine learning feeds more nuanced data to the AI, companies can identify new opportunities.</h3>
        <p>With more data from machine learning, the AI provides the next best action at every point in a process.</p>

    </div>
</div>



<%- include("partials/footer.ejs") %>