    <%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="/styles/faq.css">

    <h2 >Some FAQS</h2>
    <h3>What is Generative AI?</h3>
    <p>Generative AI is a branch of artificial intelligence that focuses on creating new content or data from scratch.</p>

    <h3>Generative AI is a branch of artificial intelligence that focuses on creating new content or data from scratch.</h3>

    <h3>. What are the main types of AI?</h3>
        <p>The main types include Reactive Machines, Limited Memory, Theory of Mind, and Self-aware AI. Each represents increasing sophistication and capability, from simple reaction-based machines to systems capable of understanding and developing consciousness.</p>

       <h3>How does machine learning differ from traditional programming?</h3>
       <p> Traditional programming involves explicitly coding the logic to make decisions based on input data. In contrast, machine learning algorithms learn from data, identifying patterns and making decisions with minimal human intervention.</p>

       <h3> What is a convolutional neural network (CNN)?</h3>
       <p>A Convolutional Neural Network (CNN) is an advanced deep learning algorithm designed to process input images. It employs learnable weights and biases to allocate significance to different features or objects within the image, enabling it to distinguish between them effectively.</p>

       <h3>What are Generative Adversarial Networks (GANs)?</h3>
       <p>GANs are machine learning frameworks designed by two networks: a generator that creates samples and a discriminator that evaluates them. The networks are trained concurrently to produce high-quality, synthetic (fake) outputs indistinguishable from real data.</p>
       <h3>Explain Artificial Intelligence and give its applications?</h3>
       <p>
        Artificial Intelligence (AI) is a field of Computer Science focuses on creating systems that can perform tasks that would typically require human intelligence, such as recognizing speech, understanding natural language, making decisions, and learning. We use AI to build various applications, including image and speech recognition, natural language processing (NLP), robotics, and machine learning models like neural networks.
       </p>
       <h3>How many layers are in a Neural Network?</h3>
       <p>Neural networks are one of many types of ML algorithms that are used to model complex patterns in data. They are composed of three layers — input layer, hidden layer, and output layer.</p>

       <%- include("partials/footer.ejs") %>
    

