<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="/styles/genai.css">
<div class="header_beneath1">
    <h1>Generative AI</h1>
    <h2>Unleashing creativity through algorithmic ingenuity.</h2>
</div>
<div class="container-1">
    <div class="left">
     <img src="images/ai.png">

    </div>
    <div class="right">
        <h2>Intro To generative AI</h2>
        <p>Generative AI, a transformative branch of artificial intelligence, empowers machines to produce original and creative content autonomously. By leveraging advanced algorithms and deep learning techniques, generative AI systems have the ability to generate images, texts, music, and even entire virtual worlds. From creating lifelike images to composing music and writing stories, generative AI is revolutionizing various fields such as art, entertainment, and design, offering unprecedented opportunities for innovation and expression.</p>

    </div>
</div>
<div class="container-2">
    <div class="left">
        <h2>How do Generative AI work</h2>
        <p>Generative AI starts with a prompt that could be in the form of a text, an image, a video, a design, musical notes, or any input that the AI system can process. Various AI algorithms then return new content in response to the prompt. Content can include essays, solutions to problems, or realistic fakes created from pictures or audio of a person.</p>

    </div>
    <div class="right">
        <h2>Generative AI Models</h2>
        <p>Generative AI models combine various AI algorithms to represent and process content. For example, to generate text, various natural language processing techniques transform raw characters (e.g., letters, punctuation and words) into sentences, parts of speech, entities and actions, which are represented as vectors using multiple encoding techniques. Similarly, images are transformed into various visual elements, also expressed as vectors. One caution is that these techniques can also encode the biases, racism, deception and puffery contained in the training data.</p>

    </div>
</div>
<div class="container-3">
    <h2>How Neural Networks Are Transforming Generative AI</h2>
    <div class="third-row">
        <div class="left">
    <p>Researchers have been creating AI and other tools for programmatically generating content since the early days of AI. The earliest approaches, known as rule-based systems and later as "expert systems," used explicitly crafted rules for generating responses or data sets.

        Neural networks, which form the basis of much of the AI and machine learning applications today, flipped the problem around. Designed to mimic how the human brain works, neural networks "learn" the rules from finding patterns in existing data sets. Developed in the 1950s and 1960s, the first neural networks were limited by a lack of computational power and small data sets. It was not until the advent of big data in the mid-2000s and improvements in computer hardware that neural networks became practical for generating content.</p>
    </div>
    <div class="right">
        <img src="images/neural.png">
    </div>
</div>
</div>
<div class="container-4">
<div class="section-1">
    <h3>Dall-E.</h3>
    <p>Trained on a large data set of images and their associated text descriptions, Dall-E is an example of a multimodal AI application that identifies connections across multiple media, such as vision, text and audio. In this case, it connects the meaning of words to visual elements. It was built using OpenAI's GPT implementation in 2021. Dall-E 2, a second, more capable version, was released in 2022. It enables users to generate imagery in multiple styles driven by user prompts</p>

</div>
<div class="section-2">
    <h3>ChatGpt</h3>
    <p> The AI-powered chatbot that took the world by storm in November 2022 was built on OpenAI's GPT-3.5 implementation. OpenAI has provided a way to interact and fine-tune text responses via a chat interface with interactive feedback. Earlier versions of GPT were only accessible via an API. GPT-4 was released March 14, 2023. ChatGPT incorporates the history of its conversation with a user into its results, simulating a real conversation. </p>

</div>
<div class="section-3">
    <h3>Bard.</h3>
    <p>Google was another early leader in pioneering transformer AI techniques for processing language, proteins and other types of content. It open sourced some of these models for researchers. However, it never released a public interface for these models. Microsoft's decision to implement GPT into Bing drove Google to rush to market a public-facing chatbot, Google Bard, built on a lightweight version of its LaMDA family of large language models.</p>

</div>
</div>
<%- include("partials/footer.ejs") %>
